In [1]:
import os
import pandas as pd
import numpy as np

In [7]:
model = pd.read_excel("Food_ImpactFactors(ONmodel)_updated_categories.xlsx")
on_model = list(model['food_items'])
#on_model

In [12]:
import pandas as pd

file_path = "export_result_oct21.xlsx"

months = [
    "Dec23","Jan24","Feb24","Mar24","Apr24","May24",
    "Jun24","Jul24","Aug24","Sep24","Oct24","Nov24"
]

xl = pd.ExcelFile(file_path)

for sheet in months:
    df = pd.read_excel(xl, sheet_name=sheet)

    # === TABLE 1 === (A–E → columns 0:5, dynamic length)
    # Detect where table 2 starts ("food_items" in col A)
    food_start = df.index[df.iloc[:, 0].astype(str).str.lower().eq("food_items")]
    if len(food_start) > 0:
        end_t1 = food_start[0]
    else:
        end_t1 = len(df)
    table1 = df.iloc[:end_t1, 0:5].dropna(how="all")

    # === TABLE 2 === (A–D → columns 0:4, starts at "food_items")
    if len(food_start) > 0:
        start_t2 = food_start[0]
        # find next blank row to determine end
        after = df.iloc[start_t2+1:, 0].isna()
        if after.any():
            end_t2 = after.idxmax()
        else:
            end_t2 = len(df)
        table2 = df.iloc[start_t2:end_t2, 0:4].dropna(how="all")
        table2.drop(table2.index[0], inplace=True)
    else:
        table2 = pd.DataFrame()
        table2.drop(table2.index[0], inplace=True)
        
    if table2.shape[1] == 4:
        table2.columns = ['food_items', 'quantity', 'sum_of_portionunitstandard_g', 'sum_of_portionunitstandard_kg']
       
    
    # === ANIMAL & SUMMARY (H–L: cols 7–12) ===
    animal = df.iloc[0:17, 7:12].dropna(how="all")
    animal_name = ['food_items', 'quantity', 'sum_of_portionunitstandard_g',
       'gwp_of_1_kg_food', 'gwp_x_kg']
    animal.columns = animal_name
    
    summary = df.iloc[18:23, 7:12].dropna(how="all")
    summary_name = ['variables', 'mass_kg', 'percentage_kg', 'gwp_total', 'percentage_gwp']
    summary.columns = summary_name

    # === ANIMAL_S & SUMMARY_S (O–S: cols 14–19) ===
    animal_s = df.iloc[0:17, 14:19].dropna(how="all")
    animal_s.columns = animal_name
    summary_s = df.iloc[18:23, 14:19].dropna(how="all")
    summary_s.columns = summary_name

    # === DROP completely empty columns (in case of blanks)
    table1 = table1.dropna(axis=1, how="all")
    table2 = table2.dropna(axis=1, how="all")
    if table2.shape[1] == 3:
        table2.columns = ['food_items', 'sum_of_portionunitstandard_g', 'sum_of_portionunitstandard_kg']
        #print(sheet)

    # === Assign to variables dynamically ===
    suffix = sheet[:3].lower()  # e.g., dec, jan, feb
    globals()[f"{suffix}_table1"]   = table1
    globals()[f"{suffix}_table2"]   = table2
    globals()[f"{suffix}_animal"]   = animal
    globals()[f"{suffix}_summary"]  = summary
    globals()[f"{suffix}_animal_s"] = animal_s
    globals()[f"{suffix}_summary_s"]= summary_s

    #print(f"✅ Extracted all tables for {sheet}")

print("All months processed and loaded into variables.")

All months processed and loaded into variables.

In [31]:
dec_table1

,food_items,quantity,sum_of_portionunitstandard_g,gwp_of_1_kg_food,gwp_x_kg
0,A_beef_consumed_ON,16098,1444621.5,55.64676,80388.505901
1,Vegetables_MontegoBlend,8502,638964,3.44,2198.036160
2,A_mixed_meat_consumed_ON,701,43586,33.62227,1465.460260
3,A_butter_consumed_ON,17511,59515.5,19.79185,1177.921849
4,Pizza_Flatbread_Cheese_Flatbred_Tomato,721,53314,15.17,808.773380
...,...,...,...,...,...
73,Supp_Isosource+HN_MilkProtein_SoyProtein_Water...,614,145190,13.33,1935.382700
74,B_tea_brewed_consumed_ON,39279,9774750,0.03785,369.974288
75,Greenbeans_Proxy_chickpeas,5288,307206,0.92,282.629520
76,FrenchToast_Proxy_Eggs_Bread,6164,184956.2,6.12,1131.931944
77,Sorbet_Water_Sugar_Orange,5391,571435,5.23,2988.605050

In [35]:
dec_table1['food_items'].isin(['A_beef_consumed_ON'])

0      True
1     False
2     False
3     False
4     False
      ...
73    False
74    False
75    False
76    False
77    False
Name: food_items, Length: 78, dtype: bool

In [55]:
def check(ch):
    months = ['dec',
             'jan',
             'feb',
             'mar',
             'apr',
             'may',
             'jun',
             'jul',
             'aug',
             'sep',
             'oct',
             'nov']
    
    have = []
    
    for name in months:
        if globals()[f"{name}_table1"]['food_items'].isin([ch]):
            have.append(name)
        
    print('have:', have)
    #if months==have:
    #    print('all in')

In [30]:
for name in months:
    name = name[:3].lower()
    #table1 = globals()[f"{name}_table1"]
    #print(table1)
    print(name)
    print(globals()[f"{name}_table1"].head())
    print("\n")

dec
                               food_items quantity  \
0                      A_beef_consumed_ON    16098
1                 Vegetables_MontegoBlend     8502
2                A_mixed_meat_consumed_ON      701
3                    A_butter_consumed_ON    17511
4  Pizza_Flatbread_Cheese_Flatbred_Tomato      721

  sum_of_portionunitstandard_g gwp_of_1_kg_food      gwp_x_kg
0                    1444621.5         55.64676  80388.505901
1                       638964             3.44   2198.036160
2                        43586         33.62227   1465.460260
3                      59515.5         19.79185   1177.921849
4                        53314            15.17    808.773380


jan
                               food_items quantity  \
0                      A_beef_consumed_ON    17178
1                 Vegetables_MontegoBlend     7986
2                A_mixed_meat_consumed_ON      820
3                    A_butter_consumed_ON    19011
4  Pizza_Flatbread_Cheese_Flatbred_Tomato      556

  sum_of_portionunitstandard_g gwp_of_1_kg_food      gwp_x_kg
0                    1521302.5         55.64676  84655.555105
1                       598644             3.44   2059.335360
2                        44536         33.62227   1497.401417
3                       202725         19.79185   4012.302791
4                        40890            15.17    620.301300


feb
                               food_items quantity  \
0                      A_beef_consumed_ON    16434
1                 Vegetables_MontegoBlend     8349
2                A_mixed_meat_consumed_ON      879
3                    A_butter_consumed_ON    19318
4  Pizza_Flatbread_Cheese_Flatbred_Tomato      580

  sum_of_portionunitstandard_g  gwp_of_1_kg_food      gwp_x_kg
0                    1457266.5          55.64676  81092.159182
1                       617824           3.44000   2125.314560
2                        32946          33.62227   1107.719307
3                        65505          19.79185   1296.465134
4                        42194          15.17000    640.082980


mar
                               food_items quantity  \
0                 Vegetables_MontegoBlend     8600
1                      A_beef_consumed_ON    15565
2                A_mixed_meat_consumed_ON     1097
3                    A_butter_consumed_ON    20934
4  Pizza_Flatbread_Cheese_Flatbred_Tomato     7270

  sum_of_portionunitstandard_g  gwp_of_1_kg_food      gwp_x_kg
0                       631076           3.44000   2170.901440
1                    1352187.5          55.64676  75244.853287
2                        45144          33.62227   1517.843757
3                      69360.5          19.79185   1372.772612
4                       201488          15.17000   3056.572960


apr
                               food_items quantity  \
0                      A_beef_consumed_ON    16542
1                 Vegetables_MontegoBlend     7464
2                A_mixed_meat_consumed_ON     1071
3                    A_butter_consumed_ON    18843
4  Pizza_Flatbread_Cheese_Flatbred_Tomato      443

  sum_of_portionunitstandard_g gwp_of_1_kg_food      gwp_x_kg
0                    1650330.5         55.64676  91835.545254
1                       560688             3.44   1928.766720
2                        49780         33.62227   1673.716601
3                      62650.5         19.79185   1239.969298
4                        32918            15.17    499.366060


may
                               food_items quantity  \
0                      A_beef_consumed_ON    16154
1                 Vegetables_MontegoBlend     7375
2                A_mixed_meat_consumed_ON     1069
3                    A_butter_consumed_ON    20181
4  Pizza_Flatbread_Cheese_Flatbred_Tomato      306

  sum_of_portionunitstandard_g gwp_of_1_kg_food      gwp_x_kg
0                    1405370.5         55.64676  78204.314925
1                       541200             3.44   1861.728000
2                        38836         33.62227   1305.754478
3                        68508         19.79185   1355.900060
4                        22216            15.17    337.016720


jun
                               food_items quantity  \
0                      A_beef_consumed_ON    15346
1                 Vegetables_MontegoBlend     8034
2                A_mixed_meat_consumed_ON      801
3                    A_butter_consumed_ON    18258
4  Pizza_Flatbread_Cheese_Flatbred_Tomato      286

  sum_of_portionunitstandard_g gwp_of_1_kg_food      gwp_x_kg
0                    1331837.5         55.64676  74112.441721
1                       590136             3.44   2030.067840
2                        26106         33.62227    877.742981
3                      63827.5         19.79185   1263.264306
4                        21888            15.17    332.040960


jul
                               food_items quantity  \
0                 Vegetables_MontegoBlend     7040
1                      A_beef_consumed_ON    15872
2                A_mixed_meat_consumed_ON     1067
3                    A_butter_consumed_ON    18636
4  Pizza_Flatbread_Cheese_Flatbred_Tomato      293

  sum_of_portionunitstandard_g  gwp_of_1_kg_food      gwp_x_kg
0                       519480           3.44000   1787.011200
1                    1427518.5          55.64676  79436.779365
2                        38190          33.62227   1284.034491
3                      63222.5          19.79185   1251.290237
4                        21024          15.17000    318.934080


aug
                               food_items quantity  \
0                      A_beef_consumed_ON    15546
1                 Vegetables_MontegoBlend     7657
2                A_mixed_meat_consumed_ON      969
3                    A_butter_consumed_ON    19317
4  Pizza_Flatbread_Cheese_Flatbred_Tomato      407

  sum_of_portionunitstandard_g gwp_of_1_kg_food       gwp_x_kg
0                      1911408         55.64676  106363.662238
1                       558394             3.44    1920.875360
2                        36328         33.62227    1221.429825
3                      67292.5         19.79185    1331.843066
4                        29376            15.17     445.633920


sep
                               food_items quantity  \
0                      A_beef_consumed_ON    15381
1                 Vegetables_MontegoBlend     7519
2                A_mixed_meat_consumed_ON     1208
3                    A_butter_consumed_ON    16960
4  Pizza_Flatbread_Cheese_Flatbred_Tomato      331

  sum_of_portionunitstandard_g gwp_of_1_kg_food      gwp_x_kg
0                      1783496         55.64676  99245.773873
1                       581172             3.44   1999.231680
2                        41154         33.62227   1383.690900
3                        59323         19.79185   1174.111918
4                        36670            15.17    556.283900


oct
                               food_items quantity  \
0                 Vegetables_MontegoBlend     7870
1                      A_beef_consumed_ON    15960
2                A_mixed_meat_consumed_ON      854
3                    A_butter_consumed_ON    18100
4  Pizza_Flatbread_Cheese_Flatbred_Tomato    10221

  sum_of_portionunitstandard_g  gwp_of_1_kg_food      gwp_x_kg
0                       569388           3.44000   1958.694720
1                    1433134.5          55.64676  79749.291569
2                        33592          33.62227   1129.439294
3                      62221.5          19.79185   1231.478595
4                       301206          15.17000   4569.295020


nov
                               food_items quantity  \
0                      A_beef_consumed_ON    15726
1                 Vegetables_MontegoBlend     8597
2                A_mixed_meat_consumed_ON      624
3                    A_butter_consumed_ON    18017
4  Pizza_Flatbread_Cheese_Flatbred_Tomato      330

  sum_of_portionunitstandard_g gwp_of_1_kg_food       gwp_x_kg
0                      1811448         55.64676  100801.212108
1                       664976             3.44    2287.517440
2                        30020         33.62227    1009.340545
3                      58712.5         19.79185    1162.028993
4                        48900            15.17     741.813000